.topButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.goBack {
  border: none;
  background: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.editFeedback {
  border: none;
  background-color: var(--blue);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  border-radius: 10px;
}

.feedbackPageItem {
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 10px;
}

@media (min-width: 567.98px) {
  .feedbackPageItem {
    width: 100%;
    margin: 1rem 0;
    grid-template-columns: 0.25fr 2fr 0.25fr;
    grid-template-rows: none;
    place-content: center;
  }
}
@media (min-width: 767.98px) {
}
@media (min-width: 991.98px) {
}
@media (min-width: 1199.98px) {
}
