.topButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.goBack {
  border: none;
  background: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.goBack:hover {
  cursor: pointer;
}

.editFeedback {
  border: none;
  background-color: var(--blue);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  border-radius: 10px;
}

.feedbackPageItem {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 10px;
}

/* Comments section styling */

.comments {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.commentsCountHeader {
  padding-bottom: 1rem;
}

.commmentItem {
  width: 100%;
}

.commentsHeader {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  place-items: center start;
}

.commentsHeader h4 {
  font-size: 1rem;
}

.profilePicture {
  width: 2.5rem;
  height: 2rem;
}

.username {
  color: var(--dark-bluish-gray);
}

.reply {
  background: none;
  border: none;
  color: blue;
  font-size: 15px;
}

.commentText {
  padding-top: 1rem;
  color: var(--dark-bluish-gray);
}

.grayLineBreak {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--dark-bluish-gray);
  margin-top: 3rem;
}

/* ////////////////////////////// */

/* add comment styling */
.addCommentSection {
  width: 100%;
}

.addComment {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  margin: 2rem 0;
}

.addCommentText {
  width: 100%;
  height: 5rem;
  background-color: var(--darker-white);
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.addCommentFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characterCount {
  color: var(--dark-bluish-gray);
}

.postComment {
  padding: 0.5rem 1rem;
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 10px;
}

.postComment:hover {
  cursor: pointer;
}
/* ////////////////////////////// */

@media (min-width: 567.98px) {
  .feedbackPageItem {
    width: 100%;
    margin: 1rem 0;
    grid-template-columns: 0.25fr 2fr 0.25fr;
    grid-template-rows: none;
    place-content: center;
  }

  .addComment {
    padding: 1.5rem 3rem;
  }

  .commentsHeader {
    grid-template-columns: 0.2fr 2fr 0.2fr;
  }
}
@media (min-width: 767.98px) {
  .addComment {
    margin: 0;
    margin-top: 1rem;
  }
}
@media (min-width: 991.98px) {
  .commentsHeader {
    grid-template-columns: 0.25fr 2fr 0.25fr;
  }
}
@media (min-width: 1199.98px) {
}
