.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lighter-white);
}
.home {
  width: 100vw;
  min-height: 100vh;
}

.homeContent {
  width: 100%;
}

@media (min-width: 567.98px) {
}
@media (min-width: 767.98px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homeContent {
    width: 95%;
  }
}
@media (min-width: 991.98px) {
  .home {
    padding: 4rem;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: start;
    grid-gap: 2rem;
  }
}
@media (min-width: 1199.98px) {
}
