.container {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f8fd;
}

.container .home {
  width: 100%;
  min-height: 100%;
}

@media (min-width: 767.98px) {
  .container .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar {
  width: 100%;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  position: fixed;
}

.navbar .logoArea {
  background-image: radial-gradient(ellipse at right top, #e84d70 0%, #a337f6 60%, #28a7ed 100%);
  color: white;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logoArea .logoHeader {
  font-size: 1rem;
}

.navbar .logoArea .logoSubHeader {
  font-size: 0.9rem;
}

.navbar .logoArea .buttonArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.navbar .logoArea .buttonArea .hamburgerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .logoArea .loginArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
}

.navbar .logoArea .loginArea:hover {
  cursor: pointer;
}

.navbar .logoArea .loginArea .authButton {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar .categoryArea {
  display: none;
}

.navbar .categoryArea .categories {
  width: 85%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 1rem;
  gap: 0.5rem;
  border-radius: 10px;
}

.navbar .categoryArea .categories .category {
  padding: 0.5rem 1rem;
  background-color: #f7f8fd;
  border-radius: 10px;
  color: #4661e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

.navbar .categoryArea .categories .category:hover {
  color: white;
  background-color: #4661e6;
  cursor: pointer;
}

.navbar .roadmapArea {
  display: none;
}

.navbar .roadmapArea .roadmapContent {
  width: 85%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 1.5rem;
  gap: 1rem;
  border-radius: 10px;
}

@media (min-width: 567.98px) {
  .container .navbar {
    width: 95%;
    height: 10rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 2rem 0;
  }
  .container .navbar .logoArea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .container .navbar .logoArea .logoText {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .container .navbar .logoArea .loginArea {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (min-width: 767.98px) {
  .navbar .categoryArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .roadmapArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #ffffff;
    padding: 1rem;
  }
  .navbar .roadmapArea .options {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.25rem;
  }
  .navbar .roadmapArea .options .option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .roadmapArea .options .option div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .navbar .roadmapArea .roadmapHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .roadmapArea .peachDot {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 5px;
    background-color: #f49f85;
  }
  .navbar .roadmapArea .purpleDot {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 5px;
    background-color: #ad1fea;
  }
  .navbar .roadmapArea .blueDot {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 5px;
    background-color: #62bcfa;
  }
  .navbar .logoArea .buttonArea .hamburgerMenu {
    display: none;
  }
  .navbar .logoArea,
  .navbar .categoryArea,
  .navbar .roadmapArea {
    border-radius: 10px;
  }
}

@media (min-width: 991.98px) {
  .navbar {
    width: 30%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 70vh;
  }
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
}

.auth .auth,
.auth h1 {
  font-family: "Jost", sans-serif;
  font-weight: 700;
}

.auth .auth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem;
  gap: 2rem;
  background-color: #ffffff;
}

.auth .auth-container .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  gap: 2rem;
}

.auth .auth-container .form-control .input-field {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 1rem;
  background-color: #f7f8fd;
  border: none;
}

.auth .auth-container .form-control .submit {
  width: 100%;
  height: 2.5rem;
  font-size: 0.9rem;
  background-color: #ad1fea;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}

.auth .auth-container .form-control .submit:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  opacity: 0.7;
}

.auth .auth-container .form-control .signUp {
  text-decoration: underline;
  color: #ad1fea;
}

@media (min-width: 567.98px) {
  .auth {
    width: 50%;
  }
}

@media (min-width: 767.98px) {
  .auth {
    width: 70%;
  }
}

@media (min-width: 991.98px) {
  .auth {
    width: 30%;
  }
}

.mobileNav {
  width: 70%;
  height: calc(100vh - 4.375rem);
  background-color: #f2f4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  padding: 1rem 1rem;
  gap: 1rem;
  z-index: 10;
}

.mobileNav .categoryAreaMobile {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  height: auto;
}

.mobileNav .categoryAreaMobile .categoriesMobile {
  background-color: #ffffff;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 1.5rem;
  gap: 0.5rem;
  border-radius: 10px;
}

.mobileNav .categoryAreaMobile .categoriesMobile .categoryMobile {
  padding: 0.5rem 1rem;
  background-color: #f7f8fd;
  border-radius: 10px;
  color: #4661e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

.mobileNav .categoryAreaMobile .categoriesMobile .categoryMobile:hover {
  color: white;
  background-color: #4661e6;
  cursor: pointer;
}

.mobileNav .roadmapAreaMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 767.98px) {
  .mobileNav .categoryAreaMobile {
    display: none;
  }
  .mobileNav .roadmapAreaMobile {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */