@import "../utilities/variables";

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lighter-white;

  .navbar {
    width: 100%;
    @include fontWeight(regular);
  }
}
