@import "../utilities/variables";

.navbar {
  width: 100%;
  @include fontWeight(regular);
  position: fixed;

  .logoArea {
    background-image: $logo-color;
    color: white;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoHeader {
      font-size: 1rem;
    }

    .logoSubHeader {
      font-size: 0.9rem;
    }

    .buttonArea {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      .hamburgerMenu {
        display: flex;
        justify-content: center;
      }
    }
    .loginArea {
      display: flex;
      gap: 0.25rem;

      &:hover {
        cursor: pointer;
      }

      .authButton {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .categoryArea {
    display: none;

    .categories {
      width: 85%;
      background-color: $bright-white;
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 1rem;
      gap: 0.5rem;
      border-radius: 10px;

      .category {
        padding: 0.5rem 1rem;
        background-color: $lighter-white;
        border-radius: 10px;
        color: $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        @include fontWeight(semi-bold);

        &:hover {
          color: white;
          background-color: $blue;
          cursor: pointer;
        }
      }
    }
  }

  .roadmapArea {
    display: none;

    .roadmapContent {
      width: 85%;
      background-color: $bright-white;
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 1.5rem;
      gap: 1rem;
      border-radius: 10px;
    }
  }
}

@media (min-width: 567.98px) {
  .container {
    .navbar {
      width: 95%;
      height: 10rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      margin: 2rem 0;

      .logoArea {
        flex-direction: column;
        align-items: start;

        .logoText {
          order: 1;
        }

        .loginArea {
          order: 0;
        }
      }
    }
  }
}
@media (min-width: 767.98px) {
  .navbar {
    .categoryArea {
      display: flex;
      justify-content: center;
    }

    .roadmapArea {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // align-items: center;
      background-color: $bright-white;
      padding: 1rem;

      .options {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .option {
          display: flex;
          justify-content: space-between;

          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
          }
        }
      }

      .roadmapHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .peachDot {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 5px;
        background-color: $peach;
      }

      .purpleDot {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 5px;
        background-color: $purple;
      }

      .blueDot {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 5px;
        background-color: $light-blue;
      }
    }

    .logoArea {
      .buttonArea {
        .hamburgerMenu {
          display: none;
        }
      }
    }

    .logoArea,
    .categoryArea,
    .roadmapArea {
      border-radius: 10px;
    }
  }
}
@media (min-width: 991.98px) {
  .navbar {
    width: 30%;
    grid-template-columns: 1fr;
    height: 70vh;
  }
}
@media (min-width: 1199.98px) {
  .cateogry {
    padding: 1rem 1.5rem;
  }
}
